@use "../foundation/base" as *;

.l-contents {
  display: flex;
  position: relative;
  &__left {
    width: 80%;
    height: 100%;
  }
  &__right {
    @include mq(tab) {
      background-color: $bgcolor-header;
      position: none;
      height: 0;
      }
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: $bgcolor-sub;
  }
}

.l-contents__left {
  @include mq(tab) {
  width: 100%;
  }
}