@use "../foundation/base" as *;

.l-header {
  @include mq(tab) {
    display: inline-block;
    padding: 40px 0;
    text-align: center;
  } 
  @include mq(sp) {
  }
  padding: 65px 0 65px 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $bgcolor-header;
}