@use "../foundation/base" as *;

.l-main {
  width: 100%;
  display: flex;
  position: relative;
  &__left {
    @include mq(tab) {
      width: 100%;
      }
    width: 80%;
    height: 100%;
  }
  &__right {
    @include mq(tab) {
      right: -100%;
      transition: right .5s;
    }
    position: absolute;
    top: 0;
    right: 0;
    z-index: 400;
    width: 20%;
    height: 100%;
    background-color: $bgcolor-sub;
  }
}

.l-under-visual {
  @include mq(sp) {
    display: block;
    padding: 20px 20px 49px 20px;
  }
  display: flex;
  height: auto;
  padding: 40px;
  position: relative;
}

//tab・sp サイドバー展開時//
.l-main__body {
  position: relative;
  &.is-open {
    @include mq(tab) {
      position: fixed;
      top: 0;
      right: 0;
    }
  }
}

.l-main__right {
  &.is-open {
    @include mq(tab) {
    position: absolute;
    top: 0;
    right: 0;
    width: 44%;
    height: 100vh;
    z-index: 1000;
    overflow-y: auto;
    }
    @include mq(sp) {
      width: 87%;
    }
  }
}

//サイドバー展開時のマスク背景//
.l-main__back {
  @include mq(tab) {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 500;
  }
  &.is-open {
    @include mq(tab) {
    right: 0;
    }
  }
}