@use "../foundation/base" as *;

.l-under-visual {
  @include mq(sp) {
    display: block;
    padding: 20px 20px 49px 20px;
  }
  display: flex;
  height: auto;
  padding: 40px;
  position: relative;
}
