@use "../../foundation/base" as *;

.p-top-visual {
  background: url(../../images/home-top.png) no-repeat center/cover;
  height: 530px;
  &__title {
    position: relative;
    top: 44%;
    left: 5%;
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
    line-height: (60/40);
  }
}

.p-under-visual {
  &-left {
    background: url(../../images/takeout.png) no-repeat center/cover;
    width: calc(50% - 40px / 2);
    height: 1193px;
    margin-right: 80px;
    position:relative;
  } 
  &-right {
    background: url(../../images/eatin.png) no-repeat center/cover;
    width: calc(50% - 40px / 2);
    height: 1193px;
    position:relative;
  }
}

.l-under-visual {
  h3,a {
    position: relative;
    font-family: $font-robot;                     
    color: #fff;
    font-size: 8rem;
    font-weight: bold;
    line-height: (106/80);
    top: 20px;
    left: 20px;
  }
  h3::before {
    background-color: #fff;
    position: absolute;
    top: 160.5px;
    left: 26.5px;
    content: "";
    width: 63px;
    height: 4px;
  }
}